body{
    font-family: 'Anton', sans-serif;
    font-family: 'Brawler', serif;
    font-family: 'Londrina Shadow', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Vast Shadow', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Brawler', serif;
    font-family: 'Londrina Shadow', cursive;
    font-family: 'Poppins', sans-serif;
}